# Database URL for Prisma with SQLite adapter
DATABASE_URL="file:./dev.db"
JWT_SECRET=your-secret-key-at-least-256-bits-long
ALLOWED_ORIGINS=http://localhost:5173,<https://my-app.example.com>
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=your_api_secret

EMAIL_USER=example@gmail.com
EMAIL_PASS=sdds qewe gdfs sada